body{
    margin: 0;
    padding: 0;
}
header{
    background-color: skyblue;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    display: flex;
    position: fixed;
}
header ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* kolonlar arası boşluk */
  flex-wrap: wrap;                /* mobilde alt alta geçmesi için */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;            /* eşit genişlik */
  min-width: 250px;   /* çok dar ekranlarda alt alta geçmesini sağla */
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-contact {
  line-height: 1.6;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
.icerik{
    height: 400px;
    background-color: #db4e4e;
    padding: 10px;
}
.yazi{
    color: #fff;
    text-align: center;
    margin: 100px;

}
.sol{
    background-color: aqua;
    height: 420px;
    width: 100px;
    margin-top: -420px;
}
.sağ{
    background-color: aqua;
    height: 420px;
    width: 100px;
    margin-top: -420px;
    float: right;
}